/* component - ListItemInfo */
.todos-item-info {
  display: flex;
}
.todos-item-info-noEdit {
  transform:translateX(calc(100% - 40px));
  transition:transform 300ms ease;
}
.todos-item-info-edit {
  transform:translateX(calc(100% - 250px));
  transition:transform 300ms ease;
  background-color: var(--primary-color-bg);
}
