.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 1fr;
  max-width: 1050px;
  gap: 15px;
  grid-column: 3/4;
  grid-row: 2/3;
  margin-left: 15px;
}

@media (max-width:650px) {
  .main-open{
    grid-column: 2/3;
  }
}