.main-header-subtitle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
}
.main-header-subtitle-sub-container {
  display: flex;
  width: fit-content;
  gap: 10px;
}
.main-header-subtitle-container button {
  background-color: transparent;
  color:yellow;
}