.todos-item-checkbox {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 5px 1fr 5px;
  grid-template-rows: 5px 1fr 5px;
  align-items: flex-start;
  transition:transform 300ms ease;
}
#isDone {
  height: 20px;
  grid-row: 2/3;
  grid-column: 2/3;
  clip-path: circle(35% at 50% 50%);
}