.todos-item-row {
  min-width: 300px;
  max-width: 1050px;
  width: 100%;
  min-height: 40px;
  height:fit-content;
  overflow-x: hidden;
  display: grid;
  align-items: flex-start;
  grid-template-columns: 50px auto 50px;
  transform:translateX(0px);
  transition:transform 300ms ease;
}
.todos-item-row-notEditing{
  grid-template-columns: 40px 1fr 40px;
  transform:translateX(0px);
  transition:transform 300ms ease;
}
.todos-items-row-isEditing {
  grid-template-columns: 40px 1fr 1fr;
  transform:translateX(0px);
  transition:transform 300ms ease;
}