nav {
  position: absolute;
  top: 5px;
  left:50%;
  transform:translateX(-50%);
  display: none;
}
nav button{
  background-color: transparent;
  color:var(--primary-color-200);
  pointer-events: none;
}

@media (max-width:650px) {
  nav{
    display: block;
  }
  nav button{
    pointer-events: all;
  }
}
