
.container {
  display: grid;
  grid-template-columns: 15px 300px 1fr 15px;
  grid-template-rows: 30px calc(100vh - 60px) 30px;
  align-items: start;
}

@media (max-width:650px) {
  .container{
    grid-template-columns: 15px 1fr 15px;
  }
}