dialog form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.form-group {
  width: 100%;
  display: grid;
  align-items: center;
  gap: 10px;
  grid-template-columns: 50px 1fr 30px;
  grid-template-rows: 30px;
}

.form-input {
  width: 100%;
  border: 2px solid rgb(88, 88, 88);
  border-radius: 5px;
  height: 30px;
  padding-left: 5px;
  background-color: transparent;
  color:var(--primary-color-100);
}
.form-input-checkbox {
  height: 20px;
  width: 30px;
  clip-path: circle(35% at 50% 50%);
}

.form-color {  
  display: flex;
  align-items: center;
  height: 30px;
  width: 30px;
}
.form-color label {
  position: relative;
  width: 100%;
  height: 100%;
}
.form-color-input {
  position:absolute;
  opacity: 0;
  height:100%;
  width: 100%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.form-color svg {
  height: 100%;
}
.form-color-input:checked {
  opacity: 1;
  height: 30%;
  width: 30%;
  top: 7px;
  left: 7px;
}


.form-submit {
  height: 40px;
  justify-content: flex-end;
  display: flex;
}

@media (max-width:650px) {
  .form-group{
    grid-template-columns: 35px minmax(195px,1fr) 30px;
  }
}