dialog {
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 100vh rgb(0 0 0 / 65%);
  min-width: 300px;
  padding: 20px 40px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: var(--primary-color-bg);
  color:var(--primary-color-100);
  height: fit-content;
}


