@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&family=Nunito:wght@200;300;400;700&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
:root {
  --primary-color-100:#ffffff;
  --primary-color-200:#F4CA46;
  --primary-color-300:#E9883E;
  --primary-color-400:#E25641;
  --primary-color-500:#D73B4A;
  --primary-color-600:#B33D35;
  --primary-color-700:#B22D4D;
  --primary-color-800:#902056;
  --primary-color-bg:#242424;
  --primary-color-tag:#444;
  --primary-color-tag-selected:rgb(90, 90, 255); 
}

/* typography */
.headline-1 {
  font-size: 96px;
}
.headline-2 { 
  font-size: 64px;
}
.headline-3 {
  font-size: 48px;
  font-weight: 600;
}
.headline-4 {
  font-size: 36px;
  font-weight: 600;
}
.headline-5 {
  font-size: 24px;
  font-weight: 600;
}
.headline-6 {
  font-size: 20;
  font-weight: 800;
}
.subtitle-1 {
  font-size: 16px;
}
.subtitle-2 {
  font-size: 14;
  font-weight: 600;
}
.body-1 {
  font-size: 16px;
  letter-spacing: 10%;
}
.body-2 {
  font-size: 14px;
  letter-spacing: 5%;
}
.caption-1 {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 15%;
}
.caption-2 {
  font-size: 14px;
  letter-spacing: 15%;
}

html, body {
  font-family: Montserrat,Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  overflow:hidden;

  color: var(--primary-color-100);
  background-color: var(--primary-color-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  min-width: 300px;
  min-height: 100vh;
}

/* elements */
a {
  color:inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  letter-spacing: 1.75px;
  transition:all 250ms ease-in-out;
}
button:hover {
  filter:brightness(0.85);
  transition:filter 250ms ease-in-out;
}

/* util styles */
.isDone {
  text-decoration:line-through;
  color:#999;
}
.tag-button {
  /* width: 100px; */
  height: 40px;
  border-radius: 10px;
  color:var(--primary-color-100);
}
.tag-button-unselected {
  background-color: var(--primary-color-tag);
}
.tag-button-selected {
  background-color: var(--primary-color-tag-selected);
}