.list-card {
  width: 140px;
  height: 70px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255,0.25);
  border-radius: 10px;
  padding:5px 10px;
  color:var(--primary-color-100);
}
.list-card-row {
  width: 100%;
  height:30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}