.sidebar-list-body {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  align-items: center;
  border-radius: 10px;
  background-color: transparent;
  color:#fff;
}
.sidebar-list-body-name,
.sidebar-list-body-quantity {
  height: 100%;
  display: flex;
  align-items: center;
}
.sidebar-list-body-name {
  justify-content: flex-start;
}
.sidebar-list-body-quantity {
  justify-content: center;
}