.sidebar-list-row-container {
  display: grid;
  grid-template-columns: 270px 30px;
  grid-template-rows: 40px;
  align-items: center;
  overflow:hidden;
}
.sidebar-list-row-container-open {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 40px;
  align-items: center;
}