
/* .sidebar-row {
  width: 250px;
  height: 30px;
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  align-items: center;
  border-radius: 10px;
} */
.search-row {
  background-color: #333;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  display: grid;
  grid-template-columns: 40px 1fr;
  border-radius: 10px;
  padding: 5px 10px;
  height: 75%;
  align-items: center;
}
.search-row input {
  height: inherit;
  outline: none;
  background-color: inherit;
  border: none;
  color:#fff;
  padding-left:3px;
}