

/* component - Sidebar  */
.sidebar-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 75px minmax(150px,1fr) minmax(75px,150px) 40px;
  height: 100%;
  grid-column: 2/3;
  grid-row: 2/3;
  gap:5px;
}

@media (max-width:650px) {
  .sidebar-container{
    max-width: 300px;
    margin:0 auto;
    z-index: 1;
  }
  .sidebar-container-closed {
    z-index: -1;
  }
}
