
/* component - SidebarFooter */
footer {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
footer button {
  height: 30px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  color: white;
  gap: 7px;
  padding: 0 5px;
}